/* Global styles for Material Design 3 */
body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { 
  height: 100%; 
}
